<div>

  <div class="flex items-center justify-between">
    <div class="contenitore-steps">
      <div class="cerchio2">
        1
      </div>
      <div class="ps-4 disable">
        Anagrafica
      </div>
    </div>

    <div class="linea"></div>

    <div class="contenitore-steps">
      <div class="cerchio">
        2
      </div>
      <div class="ps-4 active">
        Titoli di studio
      </div>
    </div>

    <div class="linea"></div>

    <div class="contenitore-steps">
      <div class="cerchio2">
        3
      </div>
      <div class="ps-4 disable">
        Esperienze passate
      </div>
    </div>

  </div>

  <form action="" class="form" [formGroup]="formTitoli" (ngSubmit)="onSubmit()">

    <!-- Input -->
    <div class="flex-input">
      <!-- <select name="" id="" class="input" formControlName="laurea">
        <option value="diploma">Diploma</option>
        <option value="laurea">laurea</option>
        <option value="senza studi">senza studi</option>
      </select> -->
      <input type="text" class="input" formControlName="diploma" placeholder="Diploma" >
      <input type="date" placeholder="Data conseguimento" class="input" formControlName="data_diploma">
    </div>

    <!-- checkbox -->
    <div class="flex mt-12">
      <div>
        <b>Hai conseguito una laurea?</b>
      </div>
      <div class="ps-8">
        <input type="checkbox" name="" id="">
      </div>
    </div>

    <!-- Input -->
    <div class="flex-input">
      <input type="text" class="input" formControlName="laurea" placeholder="Laurea">
      <input type="date" placeholder="Data conseguimento" class="input" formControlName="anno_laurea">
    </div>

    <!-- checkbox -->
    <div class="flex mt-12">
      <div>
        <b>Stai conseguendo una laurea?</b>
      </div>
      <div class="ps-8">
        <input type="checkbox" name="" id="">
      </div>
    </div>

    <!-- Input -->
    <div class="flex-input">
      <input type="text" class="input" placeholder="Laurea" formControlName="laurea_in_corso">
    </div>

    <!-- checkbox -->
    <div class="flex mt-12">
      <div>
        <b>Hai conseguito una certificzione?</b>
      </div>
      <div class="ps-8">
        <input type="checkbox" name="" id="">
      </div>
    </div>

    <!-- Input -->
    <div class="flex-input">
      <input type="text" class="input" formControlName="certificazione" placeholder="Certificazione">
      <input type="date" placeholder="Data di scadenza" class="input" formControlName="data_scadenza">
    </div>

    <div class="flex items-center justify-end mt-12">
      <button type="submit">Avanti</button>
    </div>

  </form>



</div>
