<div>

  <div class="flex items-center justify-between">
    <div class="contenitore-steps">
      <div class="cerchio2">
        1
      </div>
      <div class="ps-4 disable">
        Anagrafica
      </div>
    </div>

    <div class="linea"></div>

    <div class="contenitore-steps">
      <div class="cerchio">
        2
      </div>
      <div class="ps-4 active">
        Titoli di studio
      </div>
    </div>

    <div class="linea"></div>

    <div class="contenitore-steps">
      <div class="cerchio2">
        3
      </div>
      <div class="ps-4 disable">
        Esperienze passate
      </div>
    </div>

  </div>

  <form action="" class="form">

    <!-- Input -->
    <div class="flex-input">
      <select name="" id="" class="input">
        <option value="">Diploma</option>
        <option value="">Instagram</option>
        <option value="">Instagram</option>
      </select>
      <input type="text" placeholder="Data conseguimento" class="input">
    </div>

    <!-- checkbox -->
    <div class="flex mt-12">
      <div>
        <b>Il dominio coincide con la residenza?</b>
      </div>
      <div class="ps-8">
        <input type="checkbox" name="" id="">
      </div>
    </div>

    <!-- Input -->
    <div class="flex-input">
      <select name="" id="" class="input">
        <option value="">Diploma</option>
        <option value="">Instagram</option>
        <option value="">Instagram</option>
      </select>
      <input type="text" placeholder="Data conseguimento" class="input">
    </div>

    <!-- checkbox -->
    <div class="flex mt-12">
      <div>
        <b>Il dominio coincide con la residenza?</b>
      </div>
      <div class="ps-8">
        <input type="checkbox" name="" id="">
      </div>
    </div>

    <!-- Input -->
    <div class="flex-input">
      <select name="" id="" class="input">
        <option value="">Diploma</option>
        <option value="">Instagram</option>
        <option value="">Instagram</option>
      </select>
    </div>

    <!-- checkbox -->
    <div class="flex mt-12">
      <div>
        <b>Il dominio coincide con la residenza?</b>
      </div>
      <div class="ps-8">
        <input type="checkbox" name="" id="">
      </div>
    </div>

    <!-- Input -->
    <div class="flex-input">
      <select name="" id="" class="input">
        <option value="">Diploma</option>
        <option value="">Instagram</option>
        <option value="">Instagram</option>
      </select>
      <input type="text" placeholder="Data conseguimento" class="input">
    </div>

    <div class="flex items-center justify-end mt-12">
      <button routerLink="/modulo/form3">Avanti</button>
    </div>

  </form>



</div>
