<div class="background-text flex items-center justify-center">
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    <div class="flex items-center justify-end">
      <button>Candidati</button>
    </div>
  </div>
</div>

<div class="background-form">
  <div class="titolo pt-12">Contattaci</div>
  <div class="container-form mt-12 ">
    <form action="" class="flex-col align-center justify-center">
      <div class="form mx-auto">
        <div class="riga">
          <label for="">Email:</label> <br />
          <input type="text" />
        </div>
        <div class="riga">
          <label for="">Email:</label> <br />
          <input type="text" />
        </div>
        <div class="riga">
          <label for="">Email:</label> <br />
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="flex items-center justify-end">
          <button>Invia</button>
        </div>
      </div>
    </form>
  </div>
</div>
