<div>
  <div class="flex items-center justify-between">
    <div class="contenitore-steps">
      <div class="cerchio2">1</div>
      <div class="ps-4 disable">Anagrafica</div>
    </div>

    <div class="linea"></div>

    <div class="contenitore-steps">
      <div class="cerchio2">2</div>
      <div class="ps-4 disable">Titoli di studio</div>
    </div>

    <div class="linea"></div>

    <div class="contenitore-steps">
      <div class="cerchio">3</div>
      <div class="ps-4 active">Esperienze passate</div>
    </div>
  </div>

  <form action="" class="form">

    <!-- input -->
    <div class="flex-input">
      <input type="text" placeholder="Data conseguimento" class="input"/>
      <input type="text" placeholder="Data conseguimento" class="input"/>
    </div>

    <!-- Input -->
    <div class="flex-input">
      <select name="" id="" class="input">
        <option value="">Diploma</option>
        <option value="">Instagram</option>
        <option value="">Instagram</option>
      </select>
      <input type="text" placeholder="Data conseguimento" class="input">
    </div>

    <!-- Input -->
    <div class="flex-input">
      <select name="" id="" class="input">
        <option value="">Diploma</option>
        <option value="">Instagram</option>
        <option value="">Instagram</option>
      </select>
      <input type="text" placeholder="Data conseguimento" class="input">
    </div>

    <!-- checkbox -->
    <div class="flex mt-12">
      <div class="pe-8">
        <input type="checkbox" name="" id="">
      </div>
      <div>
        <b>Spuntando la casella accetti le <a href="">Normative della privacy</a></b>
      </div>

    </div>

    <div class="flex items-center justify-end mt-12">
      <button routerLink="">Termina</button>
    </div>


  </form>



</div>
