@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: var(--font-family);
  background-color: white;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Montserrat;
}

input{
  background-color: rgb(230, 230, 230);
  border: 0px;
}

.cerchio{
  width: 35px;
  height: 35px;
  background-color: #00c3c3;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.cerchio2{
  width: 35px;
  height: 35px;
  background-color: #d2d2d2;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.contenitore-steps{
  display: flex;
  align-items: center;
}

.active{
  color: #00c3c3;
  font-weight: 700;
  font-size: 20px;
}

.disable{
  color: #989898;
  font-weight: 500;
  font-size: 20px;
}

.linea{
  height: 2px;
  width: 150px;
  background-color: rgb(170, 170, 170);
}

.flex-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.input{
  width: 350px;
  height: 50px;
  padding-left: 20px;
  border: 0px;
  border-bottom: 2px solid rgb(170, 170, 170);
  font-size: 16px;
  background-color: #e6e6e6;
}

.radio-section{
  width: 400px;
}

button {
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #00c3c3;
  border: 0px;
  color: #003f3f;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}


form{
  padding-top: 40px;
  width: 850px;
  margin:auto;
}
