<form class="max-w-4xl" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-wrap -mx-3 mb-6 text-black">
    <div class=" p-4">
        <input class="appearance-none block w-full  border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="Nominativo" formControlName="nominativo">
    </div>
    <div class=" p-4">
        <input class="appearance-none block w-full  border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="Residenza" formControlName="residenza">
    </div>
    <div class=" p-4">
        <input class="appearance-none block w-full  border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="Laurea" formControlName="laurea">
    </div>
    <div class=" p-4">
        <input class="appearance-none block w-full  border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="Diploma" formControlName="diploma">
    </div>
    <div class=" p-4">
        <input class="appearance-none block w-full  border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="Certificazione" formControlName="certificazione">
    </div>
    <div class=" p-4">
        <input class="appearance-none block w-full  border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="Tipologia contratto" formControlName="tipologiaContratto">
    </div>
    <div class=" p-4">
        <input class="appearance-none block w-full  border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="RAL" formControlName="ral">
    </div>
    <div class=" p-4">
        <input class="appearance-none block w-full  border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="Tariffa" formControlName="tariffa">
    </div>
    <div class=" p-4">
        <input class="appearance-none block   border rounded-t py-3 px-4 leading-tight focus:outline-dotted text-black focus:bg-gray-50 focus:border-teal-500 bg-gray-400 ng-valid" id="grid-last-name" type="text" placeholder="Esito test" formControlName="esitoTest">
    </div>
    <div class=" p-4 w-full">
        <button pButton pRipple label="Submit" class="p-button-success"></button>
    </div>
  </div>

</form>